.bundle
.rvmrc
db/*.sqlite3
log/*.log
log/csv/**/*
tmp/
bin/
app/views/taglibs/auto/**/*
docs/
config/database.yml
config/hobo_routes.rb
db/data.yml
db/data.*.yml
node_modules
chromedriver.log
smartgraphs-authoring.sublime-workspace
public/activities
mailer.yml
.ruby-version
