<p><%= @user %>,</p>

<p>If you have forgotten your password for <%= @app_name %>, you can choose a new one by <%= link_to "clicking on this link.", user_reset_password_url(:id => @user, :key => @key) %></p>

<p>Thank you,</p>

<p>The <%= @app_name %> team.</p>
